<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Story {{ story_user.username }}</title>
    <style>
        body { background: #000; margin: 0; color: white; text-align: center; font-family: sans-serif; }
        img { max-width: 90vw; max-height: 90vh; margin-top: 2rem; border-radius: 10px; }
        a { display: block; margin-top: 1rem; color: #0af; text-decoration: none; font-size: 1.2rem; }
    </style>
</head>
<body>
    <h2>Storka od {{ story_user.username }}</h2>

    <img src="{{ story.image.url }}" alt="story">
    <p>{{ story.created_at|date:"d.m.Y H:i" }}</p>

    {% if next_index is not None %}
        <a href="{% url 'view-story' story_user.username next_index %}">➡️ Ďalšia storka</a>
    {% else %}
        <a href="{% url 'home' %}">⏪ Späť na hlavnú stránku</a>
    {% endif %}
</body>
</html>
