{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Zmena hesla</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/passwordchange.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Zmena hesla</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zmeniť heslo</button>
    </form>
    <a href="{% url 'profile' %}">Späť na profil</a>
</div>

</body>
</html>
